<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    {{>css}}
    <script  type="module" src="script/regis.js"></script>
</head>
<body>
    <div class="demo-container">
  <p>Click on SIGN UP button to trigger animation</p>
  <div id="demo"></div>
  {{!-- <a href="https://www.front-kek.com/demos/form-switch" target="_blank">Tutorial with up-to-date code</a> --}}
</div>

</body>
</html>